extends ../_layouts/base
include ../_modules/carousel/carousel
include ../_modules/map/map
include ../_modules/hotelcard/hotelcard

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main._page._hotel
    section._head.-pattern
      .container
        .row
          .col-xs-24
            h1!= site.data.hotel.name
            h2!= site.data.hotel.city + ', ' + site.data.hotel.country
          .col-xs-24._top
            +carousel('hotel',site.data.hotel.carousel,'regular')
          .col-xs-24._desc
            p!= site.data.hotel.description

    section.container._hotelInfo
      .row
        each val in site.data.hotel.hotelInfo
          .col-xs-24.col-md-8
            h3!= val.title
            ul
              each item in val.items
                li!= item.name
        .col-xs-24.col-md-8
          ul._features
            li
              i.fa.fa-bed
              | 32 Habitaciones
            li
              i.fa.fa-usd
              span.fa.fa-usd
              span.fa.fa-usd
              span.fa.fa-usd
              span.fa.fa-usd
            li
              i.fa.fa-plane
              ul
                li 60 min Calama Airport
                li 5 min San Pedro de Atacama
            li
              span._logoicon
                img.-negative(src="/images/BBH-logo.svg")
              | Miembro desde
              span.-bold 2012
      .row
        .col-xs-24
          h2._heading
            | ¿Dónde está
            span.-bold= ' ubicado?'

          button.button._mapToggle
            span
            i.fa.fa-chevron-up

          .row
            .col-xs-24
              +map()

    section._hotels
      .container


        .row
          each val in site.data.hotel.hotels
            .col-xs-24.col-md-8.col-lg-6
              +hotelcard(val,'compact')

          .col-xs-24._showMore
            p
              span Más Hoteles
            a(href="#")
              i.fa.fa-chevron-down


